<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guido van Rossum</title>
</head>
<body>
    <h1>Гвидо Ван Россум</h1>
    <img src="../imgs/Guido_van_Rossum_OSCON_2006.jpg" width="200" height="200">
    <p>Привет, <a href="https://ru.wikipedia.org/wiki/%D0%92%D0%B0%D0%BD_%D0%A0%D0%BE%D1%81%D1%81%D1%83%D0%BC,_%D0%93%D0%B2%D0%B8%D0%B4%D0%BE">я автор языка python</a>, а это моя страничка на <strong>википедии</strong>!</p>
    <br>
    <div>В декабре 2005 года ван Россум был принят на работу в <del>Google</del>, где он разработал на <em>Python</em> веб-приложение для рецензирования кода Mondrian.</div>
    <p>В ноябре 2020 года на своём twitter-канале заявил о своём решении присоединиться к подразделению разработки компании <mark>Microsoft</mark></p>
</body>
</html>